@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
/* ### Primary

Soft Pink: hsl(333, 80%, 67%)

### Neutral

Dark Grayish Magenta: hsl(303, 10%, 53%)
Light Grayish Magenta: hsl(300, 24%, 96%)
White:  */
:root{
    --white: hsl(0, 0%, 100%);
    --title: hsl(300, 43%, 22%);
    --rate: hsl(300, 24%, 96%);
    --para: hsl(303, 10%, 53%);
    --pink: hsl(333, 80%, 67%);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: League Spartan;
    font-size: 15px;
    text-align: center;
}

main{
    width: 375px;
    padding: 1em;
}

.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    gap: 1em;
}

.head h1{
    width: 15ch;
    font-weight: 700;
    font-size: 2.5em;
}

.head p{
    width: 32ch;
    color: var(--para);
    font-weight: 500;
}

.rate{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.rate > div{
    background: var(--rate);
    padding: 1em;
    border-radius: 10px;
}

.rate h2{
    margin-top: .5em;
    font-size: 1.2em;
}

.buyer{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    text-align: left;
    line-height: 1.3em;
    gap: 1em;
}

.comment{
    padding: 2em;
    background: var(--title);
    border-radius: 10px;
}

.user{
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
    gap: 1em;
}

.user img{
    width: 35px;
    border-radius: 50%;
}

.user span{
    color: var(--pink);
}

.buyer p,
.user h3{
    width: 28ch;
    color: var(--white);
    font-size: 1em;
    font-weight: 500;
}

h1,
h2{
    color: var(--title)
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1130px) {
    main{
        width: 1130px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .head{
        text-align: left;
        justify-content: left;
        align-items: flex-start;
    }

    .head p{
        width: 44ch;
        line-height: 20px;
    }

    .rate{
        justify-content: center;
        align-items: center;
    }

    .rate > div {
        width: 400px;
        display: flex;
        gap: .5em;
    }

    .rate > div:nth-child(2){
        margin-left: 6em;
    }

    .rate > div:last-child{
        margin-left: 12em;
    }

    .rate img{
        align-self: center;
    }

    .rate h2{
        margin-left: 1em;
    }

    .buyer{
        flex-direction: row;
        grid-column: span 2;
        justify-content: space-between;
        gap: 2em;
    }

    .comment:first-of-type{
        margin-top: -20px;
        margin-bottom: 20px;
    }

    .comment:last-of-type{
        margin-top: 20px;
        margin-bottom: -20px;
    }

    .comment p{
        width: 30ch;
    }
}