@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root{
    --button1: hsl(171, 66%, 44%);
    --button2: hsl(233, 100%, 69%);
    --title: hsl(210, 10%, 33%);
    --para: hsl(201, 11%, 66%);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background: url(./images/bg-header-mobile.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    font-family: Bai Jamjuree;
    font-size: 18px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7em;
    text-align: center;
    line-height: 1.6em;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em 0 3em 0;
}

#main{
    gap: 1em;
    margin-bottom: 9em;
}

#main h1{
    font-size: 1.8em;
    line-height: 1.5em;
}

#snippets{
    gap: 3em;
    margin-bottom: 8em;
}

#snippets > div:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8em;
}

.snippTrack{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em
}

#access_clipboard{
    gap: 1.5em;
    margin-bottom: 3em;
}

#access_clipboard img{
    margin-top: 1.5em;
}

#workflow{
    gap: 1em;
}

#workflow >div img{
    margin: 1.5em 0 1.5em 0;
}

#workflow div:first-of-type img{
    margin-top: 4em;
}


#logo{
    gap: 3em;
}

.logo{
    width: 130px;
}

#clipboard{
    margin-top: 8em;
    gap: 1.5em
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3em;
    text-align: center;
    background-color: hsl(201, 11%, 66%, 0.1);
    gap: 30px;
}

.logo-footer{
    width: 50px;
}

.social-media{
    display: flex;
    gap: 40px;
}


/* Buttons design */
.btn{
    display:flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px
}

button{
    width: 320px;
    border-radius: 30px;
    padding: 15px;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 1em;
}

.btn1{
    background: var(--button1);
    border-bottom: 3px solid hsl(171, 66%, 35%);

}

.btn2{
    background: var(--button2);
    border-bottom: 3px solid hsl(233, 53%, 53%);
}

/* Global design*/
.image{
    width: 320px;
    margin: 1em 0 2em 0;
}

ul > li{
    margin-bottom: 1em;
    list-style: none;
}

h1, h2{
    width: 18ch;
    color: var(--title);
}

h3{
    margin-bottom: .3em;
    color: var(--title);
    font-size: 1.3em;
}

p{
    width: 30ch;
    color: var(--para);
}

a{
    color: var(--title);
    text-decoration: none;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 620px){
    html{
        background: url(./images/bg-header-desktop.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #main{
        margin-bottom: 5em;
        width: 100%;
    }

    #main h1{
        width: 50ch;
        font-size: 2.5em;
    }

    #main p{
        width: 55ch;
    }

    #snippets{
        margin-bottom: 10.5em;
    }

    #snippets h2{
        margin: .2em
    }

    .snippTrack{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 70px 70px 60px;
        margin-top: 8em;
        text-align: left;
        gap: 5em;
    }

    .image{
        grid-row: span 3;
        width: 760px
    }

    .snippTrack > div p {
        width: 33ch;
    }


    #access_clipboard img{
        width: 900px;
        margin: 3em 0 0 0;
    }

    #workflow{
        margin-bottom: 7em;
    }

    #workflow > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .detail p{
        width: 32ch;
    }

    #workflow .detail > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 100%;
    }

    #logo{
        flex-direction: row;
        margin-bottom: 1em;
        gap: 6em;
    }

    .logo{
        width: 160px
    }

    #clipboard h1{
        width: 50ch;
        font-size: 2em
    }

    footer{
        flex-direction: row;
        justify-content: space-around;
    }

    .contact ul{
        display: grid;
        grid-template-columns: repeat(3, 200px);
    }

    .btn{
        flex-direction: row;
        margin-top: 1em;
    }

    button{
        width: 220px;
        cursor: pointer;
    }

    h2{
        font-size: 2.2em;
    }

    h2, h3{
        width: 50ch;
    }

    p, a{
        width: 60ch;
    }

    .social-media > img{
        cursor: pointer;
        background: none;
    }

    a:hover{
        color: var(--button1);
    }
}